html {
    width: 100%;
    margin: 0;
}

body {
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.header {
    background-image: url("hero.jpg");
    height: 730px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 100%;
}

.header .navbar ul {
    margin-top: 0;
    padding-top: 10px;
}

.header .navbar ul li {
    display: inline-block;
    list-style: none;
}

.header .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fefae0;
    font-size: 15px;
    font-weight: bolder;
    text-shadow: 0px 0px 2px black;
    letter-spacing: 2px;
    padding: 15px;
}

.header .navbar ul li:hover {
    transform: scale(1.15);
    transition: all ease 500ms;
}

.header .navbar ul li a:hover {
    color: #feefdd;
}

.hero-text {
    width: 100%;
    margin-top: 210px;
}

h1 {
    color: #fefae0;
    font-size: 3.5rem;
    text-shadow: 0px 0px 2px black;
}

.header h3 {
    color: #fefae0;
    font-size: 1.75rem;
    text-shadow: 0px 0px 2px black;
}

.round-img {
    width: 150px;
    border-radius: 50%;
}

.card-front {
    max-width: 200px;
    background: #efe5dc;
    padding: 15px 20px 15px 20px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.card-front:hover {
    transform: scale(1.2);
    transition: all ease 500ms;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 35px 0 35px 0;
    background-color: #fffcf2;
}

@media (max-width: 600px) {
    .main-content {
        flex-direction: column;
    }
    .card-front {
        margin-top: 15px;
    }
}

.personal-card {
    display: flex;
    justify-content: center;
    background: #efe5dc;
    padding-bottom: 25px;
}

.card {
    width: 450px;
    height: 200px;
    margin: 35px 0 20px 0;
    padding: 12px 3px 12px 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #fffcf2;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .5);
    border-radius: 5px;
    transform: rotate(-3deg);
}



#profilepic {
    width: 180px;
}



@media (max-width: 440px) {
    .card {
        width: 250px;
        height: 450px;
        flex-direction: column;
        justify-content: center;
        
    }
}

